.nav_bar_wrap {
  position: fixed;
  width: 100%;
  height: 95px;
  background-color: black;
  z-index: 99999;
  @media screen and (min-width: 64rem) {
    height: 120px;
  }
  .logo_wrap {
    position: relative;
    .nav_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80px;
      @media screen and (min-width: 64rem) {
        width: 100px;
      }
    }
  }
}

.burger_button_wrap {
  position: relative;

  .burger_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 100001;
    cursor: pointer;
    div {
      width: 36px;
      height: 5px;
      margin-bottom: 6px;
      background-color: white;
    }
  }
}

.nav_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  z-index: 100000;
  right: -100%;
  transition: all 0.5s ease;
  nav {
    margin-top: 20%;
    ul {
      margin: 0;
      li {
        list-style-type: none;
        margin: 15px 0 15px 0;
        a {
          font-family: $title_text;
          font-size: 1.75rem;
          font-weight: 500;
          color: white;
          text-transform: uppercase;
          transition: all .3s ease;
          &:hover,
          &:focus {
            color: $diego_green;
            border-bottom: solid 3px $diego_green;
          }
        }
      }
    }
  }
  &.revealNav {
    right: 0;
  }
}

.desktop_nav {
  position: relative;
  nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 512px;
    ul {
      margin: 0;
      li {
        list-style-type: none;
        display: inline;
        margin: 0 20px 0 20px;
        a {
          @include mobile_portfolio_title;
          font-size: 1rem;
          transition: all .3s ease;
          &:hover,
          &:focus {
            border-bottom: solid 3px $diego_green;
          }
        }
      }
    }
  }
}
